body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://thumbs.dreamstime.com/b/planets-galaxy-universe-starry-night-sky-milky-way-stars-space-dust-long-exposure-photograph-science-fiction-148532116.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffd700;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

form {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

input[type="text"] {
    padding: 15px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1em;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="text"]::placeholder {
    color: #888;
}

input[type="text"]:focus {
    border-color: #ffd700;
    outline: none;
}

button, .btn {
    padding: 12px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffd700;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover, button:hover {
    background-color: rgba(255, 215, 0, 0.9);
    transform: translateY(-2px);
}

a {
    display: grid;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

a:hover {
    background-color: #ffd700;
    transform: translateY(-2px);
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    input[type="text"] {
        width: 80%;
    }

    button, a {
        font-size: 1em;
        padding: 10px 15px;
    }
}
